*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );
    padding:20px;
}

.container{
    width:100%;
    max-width:700px;
}

.todo-card{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:25px;
    padding:30px;
    box-shadow:0 15px 35px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    color:white;
    margin-bottom:10px;
    font-size:2.2rem;
}

.subtitle{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:25px;
}

.input-section{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.input-section input{
    flex:1;
    padding:15px;
    border:none;
    outline:none;
    border-radius:12px;
    font-size:16px;
}

.input-section button{
    padding:15px 25px;
    border:none;
    border-radius:12px;
    background:#22c55e;
    color:white;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    transition:0.3s;
}

.input-section button:hover{
    transform:translateY(-2px);
    background:#16a34a;
}

.stats{
    display:flex;
    justify-content:space-between;
    color:white;
    margin-bottom:20px;
    padding:12px;
    background:rgba(255,255,255,0.08);
    border-radius:12px;
}

#taskList{
    list-style:none;
}

#taskList li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    margin-bottom:12px;
    background:rgba(255,255,255,0.08);
    border-radius:15px;
    color:white;
    transition:0.3s;
}

#taskList li:hover{
    transform:translateY(-2px);
}

.completed span{
    text-decoration:line-through;
    color:#94a3b8;
}

.actions{
    display:flex;
    gap:8px;
}

.complete-btn{
    background:#3b82f6;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.complete-btn:hover{
    background:#2563eb;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.delete-btn:hover{
    background:#dc2626;
}

@media(max-width:600px){

    .input-section{
        flex-direction:column;
    }

    .stats{
        flex-direction:column;
        gap:10px;
        text-align:center;
    }

    #taskList li{
        flex-direction:column;
        gap:12px;
        text-align:center;
    }

    .actions{
        width:100%;
        justify-content:center;
    }
}