*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        -45deg,
        #0f172a,
        #1e3a8a,
        #7c3aed,
        #06b6d4
    );
    background-size:400% 400%;
    animation:gradientBG 12s ease infinite;
    overflow:hidden;
}

@keyframes gradientBG{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}

.background-animation::before,
.background-animation::after{
    content:"";
    position:absolute;
    border-radius:50%;
    filter:blur(120px);
}

.background-animation::before{
    width:300px;
    height:300px;
    background:#00d4ff;
    top:-80px;
    left:-80px;
}

.background-animation::after{
    width:350px;
    height:350px;
    background:#7c3aed;
    bottom:-100px;
    right:-100px;
}

.container{
    width:100%;
    max-width:500px;
    padding:20px;
}

.card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:25px;
    padding:35px;
    text-align:center;
    color:white;
    box-shadow:0 20px 40px rgba(0,0,0,0.3);
    animation:fadeUp 1s ease;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.card h1{
    margin-bottom:10px;
    font-size:2rem;
}

.card p{
    color:#ddd;
    margin-bottom:25px;
}

.input-group{
    text-align:left;
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:500;
}

.input-group input{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    border-radius:12px;
    font-size:16px;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:linear-gradient(
        135deg,
        #00d4ff,
        #7c3aed
    );
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(0,212,255,0.4);
}

.password-box{
    display:flex;
    margin-top:25px;
    gap:10px;
}

.password-box input{
    flex:1;
    padding:14px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:15px;
    font-weight:600;
}

.copy-btn{
    width:60px;
    font-size:22px;
}

#strength{
    margin-top:18px;
    font-size:17px;
    font-weight:600;
    min-height:30px;
}

@media(max-width:600px){

    .card{
        padding:25px;
    }

    .card h1{
        font-size:1.7rem;
    }

    .password-box{
        flex-direction:column;
    }

    .copy-btn{
        width:100%;
    }
}