@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Noto+Sans+JP&display=swap');
*{
    margin:0;
    padding: 0;
}
nav .navbar .logo{  
    width: 20%;
    height: 30%;
    
}
nav{
    background-color: rgb(41, 150, 41);
}
body{
    background-color: rgb(236, 234, 234);
}
.navbar img{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 18%;
    top: 4%;
}
.navbar .t{
    background-color: rgba(41, 155, 90, 0.9);
    width: 100%;
    height: 250px;
    color: rgba(41,155,90,0.9);
}
.navbar h4{
    position: absolute;
    left: 21%;
    top: 38px;
    font-family: libre franklin,sans-serif;
    color: white;
}
nav .navbar{
    width: 100%;
    height: 20%;
}
h3{
    padding-top: 11%;
    padding-bottom: 30px;
    padding-left: 5.8%;
    font-family: 'Libre Franklin',sans-serif;
    font-size: 24px;
}
h5{   
    font-family: 'Libre Franklin',sans-serif;
    font-size: 16px;
    top: 20%;
    text-decoration: none;
    padding-left: 6%;
}
header{
    background-color: white;
    position: absolute;
    left: 18%;
    width: 68%;
    height: 148%;
    top: 13%;
    box-sizing: content-box;
    box-shadow: 0px 0px 8px;
}
h5 img{
    width: 20px;
    height: 20px;
    background-color: lightgray;
}
h5 span{
    font-family: 'noto sans japaneese',sans-serif;
    color: black;
}
header .qr img{
    position: absolute;
    left: 62%;
    top: 7%;
    width: 320px;
    height: 300px;
}
header .text5 h2{
    background-color: rgba(248, 248, 248, 0.989);
    margin-top: 160px;
    text-align: center;
    font-family: 'noto sans japaneese',sans-serif;
    text-decoration: none;
    font-size: 26px;
    padding-top: 10%;
}
header .link{
    text-align: center;
    padding: 10px;
    background-color: rgba(248, 248, 248, 0.989);
    height: 500px;
}
header .link a{
    text-decoration: none;
    color: green;
}
header .image img{
    width: 620px;
    height: 350px;
    position: absolute;
    left: 15%;
    top: 65%;
}
footer .space{
    position: absolute;
    top: 185%;
    color: silver;

}